header h1{
    text-align: center;
    color:white;
    border: 2px solid white;
    border-radius: 5px;

}
header{
    border: 2px solid black;
}

table,th,td{
    border: 2px solid white;
    border-collapse: collapse;
}
td,p{
    text-align: center;
}